@import './base.css';
@import "Library";

#app {
  color: black;
  background-color: white;
  font-family: "Public Sans", sans-serif;
  font-size: $fontNormal;
}

a {
  color: black;
  text-decoration: none;
}

.small{
  font-size: $fontSmall;
}

big{
  font-size: $fontBig;
}

.med{
  font-size: $fontMed;
}

.bold{
  font-weight: 600;
}

.header{
  font-size: $fontBig;
  line-height: calc(4px + $fontBig);
  font-weight: 600;
}

.gap{
  margin-right: $padding;
}

.italic{
  font-style: italic;
}

.top{
  margin-bottom: $padding;
}

.title{
  font-size: $fontMed;
  font-weight: 600;
}

.image{
  background-position: center;
  background-size: cover;
}